<div class="login-wrapper">
  <mat-card class="login-card">
    <h2 class="login-title">Criar Conta</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="login" placeholder="Digite seu login" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Digite sua senha" />
      </mat-form-field>

      <button mat-flat-button color="primary" class="submit-button" type="submit" [disabled]="loginForm.invalid">
        Registrar
      </button>

      <button mat-stroked-button color="accent" class="login-button" type="button" (click)="goToLogin()">
        Já tem conta? Ir para Login
      </button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </mat-card>
</div>
